
.root {
    -fx-padding: 20.0px;
    -fx-background-image: url("../images/bg.jpg");
    -fx-font-size: 14.0px;
    -fx-font-family: Arial;
}

Button {
    -fx-cursor: hand;
}

#header {
    -fx-font-size: 25.0px;
    -fx-font-family: "Arial Black";
    -fx-fill: #696;
    -fx-effect: innershadow(three-pass-box, rgba(0.0,0.0,0.0,0.7), 4.0, 0.0, 0.0, 2.0);
    -fx-cursor: hand;
}

.headerButton {
    -fx-padding: 6.0px 0.0px 0.0px 0.0px;
}
.headerButton ImageView {
    -fx-cursor: hand;
}

.label {
    -fx-font-family: Arial;
    -fx-font-size: 15.0px;
    -fx-font-weight: bold;
    -fx-text-fill: #696;
    -fx-label-padding: 15.0px 0.0 4.0px 0.0;
    -fx-effect: innershadow(three-pass-box, rgba(0.0,0.0,0.0,0.7), 3.0, 0.0, 0.0, 1.5);
}

.link {
    -fx-fill: #585;
    -fx-cursor: hand;
}
.link:hover {
    -fx-fill: #8b8;
}

.unavailable {
    -fx-opacity: 0.4;
}
.invalid {
    -fx-effect: dropshadow(three-pass-box, #f00, 5.0, 0.0, 0.0, 0.0);
}


#streamButton {
    -fx-font-size: 22.0px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5.0px;
}
#streamButton.inactive {
    -fx-base: #808d96;
}
#streamButton.busy {
    -fx-base: #c9bb5b;
}
#streamButton.active {
    -fx-base: #696;
}
#streamButton .text {
    -fx-effect: innershadow(three-pass-box, rgba(0.0,0.0,0.0,0.2), 1.5, 0.0, 0.0, 1.0);
    -fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.2), 2.5, 0.0, 0.0, 1.5);
}


.streamInfo {
    -fx-font-size: 14.0px;
    -fx-font-weight: normal;
    -fx-text-fill: #474;
    -fx-label-padding: 0.0;
    -fx-effect: innershadow(three-pass-box, #000, 0.0,0.0,0.0,0.0);
}

ScrollPane {
    -fx-background-insets: 0.0;
    -fx-padding: 0.0;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

ScrollPane:focused {
    -fx-background-insets: 0.0;
}

ScrollPane .corner {
    -fx-background-insets: 0.0;
}

.viewerCount {
    -fx-padding: 21.0px 0.0 0.0 0.0;
}


.combo-box > .list-cell {
    -fx-padding: 0.0 0.0 0.0 10.0px;
    -fx-border-insets: 0.0 0.0 0.0 10.0px;
}
.combo-box-base > *.arrow-button {
    -fx-padding: 0.0 10.0px 0.0 3.0px;
}

#favoriteChannel>.box {
	-fx-background-insets: 0.0;
  	-fx-background-radius: 0.0;
  	-fx-background-color: transparent;
  	-fx-scale-x: 3.0;
  	-fx-scale-y: 3.0;
}

#favoriteChannel>.box>.mark {
	-fx-background-image: url("../images/star_empty.png");
	-fx-background-position: center;
  	-fx-background-repeat: no-repeat;
  	-fx-background-size: 12.0;
  	-fx-shape: none;
  	-fx-cursor: hand;
}

#favoriteChannel:selected>.box>.mark {
	-fx-background-color: transparent;
	-fx-background-image: url("../images/star_full.png");
}
