
.root {
    -fx-padding:20px;
}

#header {
    -fx-font-size: 26px;
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 4.0, 0.0 , 0.0 , 2.0 );
}

.button {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#aaa, #777);
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

.button:hover {
    -fx-background-color: linear-gradient(#ccc, #aaa);
}